:root {
  /* цвет текста */
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --secondary-text-color: #ffffff;
  /* цвет фона */
  --primary-background: #e5e5e5;
  --sekondary-background: #2f303a;
  --additional-background: #f5f4fa;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  background: #ffffff;
  font-family: Roboto;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p {
  margin: 0;
}
ul,
ol {
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* header */
.header {
  background: #ffffff;
}
.header-conteiner {
  display: flex;
  align-items: center;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
}

.nav-main {
  display: flex;
}

.header-contacts {
  display: flex;
}
.header-contacts-cont {
  margin-left: auto;
}

/* Логотип */
.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  letter-spacing: 0.03em;
}

.header-conteiner .logo {
  padding-top: 24px;
  padding-bottom: 25px;
}
.logo-blue {
  color: #2196f3;
}
.logo-black {
  color: #212121;
}
/* Навигация */
.header ul {
  list-style: none;
}
.header li a {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.link-header + .link-header {
  margin-left: 50px;
}
.link-header {
  margin-left: 93px;
}
.link-header a {
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-contacts {
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-contacts-li + .header-contacts-li {
  margin-left: 50px;
}

.header-contacts :hover {
  color: #2196f3;
}
.header-contacts :focus {
  color: #2196f3;
}

.svg-mail {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.svg-phone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

.header-contacts li a {
  color: #757575;
}
.svg-phone :hover {
  fill: #2196f3;
}

.svg-phone :focus {
  fill: #2196f3;
}

.nav-main :hover {
  color: #2196f3;
}

.nav-main :focus {
  color: #2196f3;
}

.header .studio {
  color: #2196f3;
}

/* Секция герой */
.hero-section {
  background: var(--sekondary-background);
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4))
    url(../homework-4/img/maine.jpg);

  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
}

.hero-text-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  width: 696px;
  height: 120px;
}
.hero-button {
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;

  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.hero-button-tekst {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
}
/* секция 2 */
.section-description {
  padding-top: 94px;
  padding-bottom: 94px;

  background: #ffffff;
}
.conteiner-description {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.section-description ul {
  list-style: none;
}

.ul-section-description {
  display: flex;
}

.li-section-description {
  width: 270px;
  margin-right: 30px;
}

.ul-section-description :nth-child(4) {
  margin-right: 0px;
}

.conteiner-svg-description {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 100px;
  padding-right: 100px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}
.svg-description {
  width: 70px;
  height: 70px;
}

.text-title-description {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}

.description {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

/* секция 3 */
.our-work-section {
  background: #ffffff;
  padding-bottom: 94px;
}
.conteiner-our-work-section {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.our-work-section ul {
  list-style: none;
}
.ul-our-work-section {
  display: flex;
}

.li-our-work-section {
  margin-right: 30px;
}
.ul-our-work-section :nth-child(3) {
  margin-right: 0px;
}

/* секция 4 */
.section-command {
  padding-top: 94px;
  padding-bottom: 94px;
}
.conteiner-section-command {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.ul-section-command {
  display: flex;
}

.li-section-command {
  width: 270px;
  padding-bottom: 30px;

  margin-right: 30px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.ul-section-command :nth-child(4) {
  margin-right: 0px;
}

.text-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 30px;
  text-align: center;
}
.position {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 10px;
  text-align: center;
}
.secondary-text-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
.section-command ul {
  list-style: none;
}
.section-command {
  background: var(--additional-background);
}
.ul-command-link {
  display: flex;
  list-style: none;
  justify-content: center;
  margin-top: 16px;
}

.li-command-link + .li-command-link {
  margin-left: 10px;
}

.li-command-link a {
  display: block;
  width: 44px;
  height: 44px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;

  background: #ffffff;

  box-sizing: border-box;
  border-radius: 50%;
  border: 1px;
}
.li-command-link a:hover {
  background: #2196f3;
}
.command-svg:hover {
  fill: #ffffff;
}

.command-svg {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

/* секция 5 */

.clients-ul {
  display: flex;
  list-style: none;
}
.regular-cliets > .conteiner-our-work-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-li + .clients-li {
  margin-left: 30px;
}
.clients-li a {
  display: block;

  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
}

.svg-clients {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
}

.clients-li:hover {
  border: solid #2196f3;
}
.svg-clients :hover {
  fill: currentColor;
}

.clients-li :focus {
  border: solid #2196f3;
}
.svg-clients :focus {
  fill: currentColor;
}

/* подвал */
.footer {
  background: var(--sekondary-background);
}
.conteiner-footer {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
.adress-footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
.logo-footer {
  text-decoration: none;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  display: block;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}
.logo-White {
  color: #ffffff;
}
.address {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  margin-bottom: 9px;
  letter-spacing: 0.03em;
  display: inline;
}

.actual-address {
  display: inline;
  color: #ffffff;

  margin-bottom: 9px;
}
.contacts {
  display: inline;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.link-footer {
  margin-left: 70px;
  padding-top: 70px;
  padding-bottom: 97px;
}

.footer-ul {
  display: flex;
  list-style: none;
}
.heading-footer {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-li a {
  width: 44px;
  height: 44px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 50%;
  border: 0px;
  background: rgba(255, 255, 255, 0.1);
}
.footer-adress {
  margin-bottom: 9px;
}
.footer-mail {
  margin-bottom: 9px;
}
.footer-li :hover {
  background: #2196f3;
}
.footer-li :focus {
  background: #2196f3;
}
.footer-li + .footer-li {
  margin-left: 10px;
}
.footer-svg {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}
