:root {
  /* цвет текста */
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --secondary-text-color: #ffffff;
  /* цвет фона */
  --primary-background: #e5e5e5;
  --sekondary-background: #2f303a;
  --additional-background: #f5f4fa;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  background: #ffffff;
  font-family: Roboto;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p {
  margin: 0;
}
ul[class],
ol[class] {
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* header */
.header {
  background: #ffffff;
}
.header-conteiner {
  display: flex;
  align-items: center;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
}

.nav-main {
  display: flex;
}

.header-contacts {
  display: flex;
}
.header-contacts-cont {
  margin-left: auto;
}

/* Логотип */
.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  letter-spacing: 0.03em;
}

.header-conteiner .logo {
  padding-top: 24px;
  padding-bottom: 25px;
}
.logo-blue {
  color: #2196f3;
}
.logo-black {
  color: #212121;
}
/* Навигация */
.header ul {
  list-style: none;
}
.header li a {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.link-header + .link-header {
  margin-left: 50px;
}
.link-header {
  margin-left: 93px;
}
.link-header a {
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-contacts {
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-contacts-li + .header-contacts-li {
  margin-left: 50px;
}

.header-contacts :hover {
  color: #2196f3;
}
.header-contacts :focus {
  color: #2196f3;
}

.svg-mail {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.svg-phone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

.header-contacts li a {
  color: #757575;
}
.svg-phone :hover {
  fill: #2196f3;
}

.svg-phone :focus {
  fill: #2196f3;
}

.nav-main :hover {
  color: #2196f3;
}

.nav-main :focus {
  color: #2196f3;
}

.header .portfolio {
  color: #2196f3;
}

/* main section  */
.main {
  padding-top: 94px;
  padding-bottom: 94px;
  border: 1px solid #ececec;
}
.main-conteiner {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* кнопки */
.list-of-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.button-li + .button-li {
  margin-left: 8px;
}
.button-li button {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
}

.list-of-buttons li button {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: #212121;
}
.maine-section-portfolio li {
  list-style: none;
}
.list-of-buttons button:hover {
  background: #2196f3;
}
.list-of-buttons button:focus {
  background: #2196f3;
}

.list-of-buttons .button-li :hover {
  color: #ffffff;
}
.list-of-buttons .button-li :focus {
  color: #ffffff;
}
.portfolio {
  color: #2196f3;
}

/* сетка */
.maine-portfolio {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -30px;
  margin-right: -30px;
}

.maine-portfolio {
  list-style: none;
}

.maine-portfolio a {
  text-decoration: none;
}
.li-maine-portfolio {
  display: block;
  width: 370px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  margin-right: 30px;
  margin-bottom: 30px;
  flex-basis: calc(100% / 3 - 30px);
}
.maine-portfolio > li:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.maine-portfolio > li:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.title-text-portfolio {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  width: 322px;
  margin-bottom: 4px;
}
.link-list {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
  width: 322px;
}
.div-maine {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}
/* подвал */
.footer {
  background: var(--sekondary-background);
}
.conteiner-footer {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
.adress-footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
.logo-footer {
  text-decoration: none;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  display: block;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}
.logo-White {
  color: #ffffff;
}
.address {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  margin-bottom: 9px;
  letter-spacing: 0.03em;
  display: inline;
}

.actual-address {
  display: inline;
  color: #ffffff;

  margin-bottom: 9px;
}
.contacts {
  display: inline;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.link-footer {
  margin-left: 70px;
  padding-top: 70px;
  padding-bottom: 97px;
}

.footer-ul {
  display: flex;
  list-style: none;
}
.heading-footer {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-li a {
  width: 44px;
  height: 44px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 50%;
  border: 0px;
  background: rgba(255, 255, 255, 0.1);
}
.footer-adress {
  margin-bottom: 9px;
}
.footer-mail {
  margin-bottom: 9px;
}
.footer-li :hover {
  background: #2196f3;
}
.footer-li :focus {
  background: #2196f3;
}
.footer-li + .footer-li {
  margin-left: 10px;
}
.footer-svg {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}
